{% extends "inc/layout.html.twig" %}

{% block content %}
    <h1>Films</h1><a class="button marginBottom" href="{{ path('categorySerie_page') }}">Catégorie</a>
    <div class="row list">
        {% for serie in series %}
            <div class="col-md-4">
                <a href="{{ path('serie_view', {'id': serie.id}) }}"><h2>{{ serie.name }}</h2></a>
                <p>{{ serie.description }}</p>
                <a href="{{ path('film_view', {'id': serie.id}) }}">Detail du film</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}