{% extends "inc/layout.html.twig" %}

{% block content %}
    <h1>Detail de la serie</h1>
    <a href="/app_dev.php/sign-out">logout</a>
    <h2>TITRE : {{ serie.name }}</h2>
    <h3>DATE : {{ serie.date|date("d/Y") }}</h3>
    <h3>ACTEURS : {{ serie.actor }}</h3>
    <h3>NOTE : {{ serie.note }}/10</h3>
    {% for season in serie.seasons %}

            <h3>{{ season.label }}</h3>

    {% endfor %}

    <p>DESCRIPTION : {{ serie.description }}</p>
    <a href="{{ path('series_list')}}">Liste des series</a>
{% endblock %}