{% extends "inc/layout.html.twig" %}

{% block content %}
    <h1>Films</h1><a class="button marginBottom" href="{{ path('categoryFilm_page') }}">Catégorie</a>
    <div class="row list">
        {% for film in films %}
            <div class="col-md-4">
                <img src="{{ asset('uploads/images/' ~ film.image) }}" alt="{{ film.image }}"/>
                <h2>{{ film.name }}</h2>
                <p>{{ film.description }}</p>
                <a href="{{ path('film_view', {'id': film.id}) }}">Detail du film</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}