<html>
    <head>
        <title>Detail du film</title>
    </head>
<body>
    <h1>Detail du film</h1>
        <a href="/app_dev.php/sign-out">logout</a>
        <h2>{{ film.name }}</h2>
        <p>{{ film.description }}</p>
        <h3>{{ film.date|date("d/Y") }}</h3>
        <h3>{{ film.actor }}</h3>
        <h3>{{ film.note }}</h3>
         <a href="{{ path('films_list')}}">Liste des films</a>
    </body>
</html>