{% extends "inc/layout.html.twig" %}

{% block content %}

    <a class="button marginTopBottom" href="{{ path('film_add')}}">Ajouter un film</a>
    <a class="button marginTopBottom" href="{{ path('serie_add')}}">Ajouter une serie</a>
    <a class="button marginTopBottom" href="{{ path('season_add')}}">Ajouter une saison</a>
    <a class="button marginTopBottom" href="{{ path('episode_add')}}">Ajouter un épisode</a>
    <a class="button marginTopBottom" href="{{ path('category_add')}}">Ajouter une catégorie</a>

{% endblock %}