{% extends "inc/layout.html.twig" %}

{% block content %}

    <a class="button" href="{{ path('film_add')}}">Ajouter un film</a>
    <a class="button" href="{{ path('serie_add')}}">Ajouter une serie</a>
    <a class="button" href="{{ path('season_add')}}">Ajouter une saison</a>
    <a class="button" href="{{ path('episode_add')}}">Ajouter un épisode</a>
    <a class="button" href="{{ path('category_add')}}">Ajouter une category</a>
{% endblock %}